@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins&display=swap');
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}
body {
	font-family: 'Nunito', sans-serif;
	color: #8b8b8b;
	line-height: 1.8
}
/*Search component*/
.absolute {
    position: absolute;
    margin-top: -18px
}
.relative {
    position: absolute;
}
/*Heading*/
.heading {
    font-size: 8rem;
    margin-bottom: 0;
    color: #e2e8ee;
    font-weight: bold
}
.shadow {
	box-shadow: 0 0 18px rgba(0,0,0,.05)
}
.article-title a{
	color: #333;
	font-size: 1.3rem
}
.article-title-main{
	color: #333;
	font-size: 40px
}
.meta {
	text-transform: uppercase;
	color: #959595;
	display: inline-block;
    margin-right: 25px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px
}
.meta:after {
	border-color: #ec6a2a;
    content: " ";
    width: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: inline-block;
    margin-left: 12px;
}
.taglist, .categorylist  {
	color: #959595;
}
.new-article {
	margin-bottom: 30px
}
.taglist:hover, .categorylist:hover {
	color: #ec6a2a;
	text-decoration: none;
}
.tag-img {
	height: 17px;
	margin-right: 5px
}
.light {
	color: white
}
.dark {
	color: #3e4852
}
.catlists {
	color: white
}
.alter-clr-2 {
	color: #ec6a2a
}

/*Heading og category and tag*/
.heading-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 28px;
    overflow: hidden;
}
.heading-title-span {
    display: block;
    float: left;
    margin-right: 15px;
}
.heading-title-divider {
    border-color: #ec6a2a;
    display: block;
    border-top-width: 2px;
    border-top-style: solid;
    overflow: hidden;
    margin-top: .5em;
    width: 18px;
}
.img-wrapper {
    position: relative;
    margin-bottom: 40px;
}
.date-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
    position: absolute;
    bottom: -13px;
    left: -15px;
}
.post-date {
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
    border-radius: 50%;
}
.read-more:after {
    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - -";
    margin-left: 30px;
}
.hovered-a:hover {
    color: #ec6a2a
}
a:hover {
    text-decoration: none;
}
a.cat:hover {
    color: #ec6a2a
}
a.tag:hover {
    color: white
}
.heart {
    font-size: 25px;
    color: #e00;
}